.taskform_container{
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    min-width: 100%;
    height: 50vh;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 20px;
}

.task_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 40%;
    min-height: 300px;
    padding: 15px 0;
    border-radius: 5px;
    align-items: center;
    background-color: #e9daf5d8;
}
.task_form_dark{
    background-color: #413e42d8;
    color:#d4d3d3;
}
.task_form_input{
    padding: 10px;
    font-family: inherit;
    border: none;
    resize: none;
    min-width: 60%;
    background-color: #af98da27;
    border-bottom: 2px solid #af98da;
}
.task_form_input_dark{
    background-color: #7a768127;
    border-bottom: 2px solid #cabedf;
    color:#d4d3d3;;
}
.task_form_input:focus{
    outline: none;
    background-color: #af98da59;
    color: #000000;
}
.task_form_input_dark:focus{
    outline: none;
    background-color: #7b718d59;
    color: #ffffff;
}


.save_button{
    padding: 15px 40px;
    max-width: 200px;
    font-family: inherit;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color:#d4d3d3;
    background-color: #4f32b6;

}

.save_button:hover{
    background-color: #5939ce;
}
.save_button_dark{
    background-color: #44357a;
}

.save_button_dark:hover{
    background-color: #463585;
}



@media screen and (max-width:1100px) {
    .taskform_container{
    font-size: 22px;
    }

    .task_form{
    min-width:50%;
    }
    .task_form_input{
    padding: 10px;
   
    }
    .task_form_input::placeholder{
        font-size: 1em;
    }
}
@media screen and (max-width:500px) {
    .taskform_container{
    font-size: 25px;
    padding-top: 20px;
    }

    .task_form{
    min-width:70%;
    padding: 15px;
    }
    .task_form_input{
    padding: 10px;
    }
    .task_form_input::placeholder{
        font-size: 1em;
    }
}